*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	/* overflow-y: hidden; */
}
.upper-container{
	width: 50%;
	height: 10%;
	margin: 50px auto;
	position: relative;
}
.upper-container1{
	width: 35%;
	height: 100%;
	padding-top: 20px;
}
#tasks{
	font-weight: bold;
	font-size: 2.5rem;
}
#lists{
	font-size: 2.5rem;
	margin-left: 10px;
	opacity: 0.5;
}
.upper-container2{
	width: 30%;
	height: 100%;
	padding-top: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
}
#addlist{
	position: absolute;
	width: 80%;
	height: 100%;
	top: 0;
	right: 0;
	padding-top: 25px;
	font-size: 30px;
	opacity: 0.5;
	
}
.card1{
margin-top: 3px;
width: 15%;
border:1.5px solid orange;
height: 45vh;
position: relative;
border-radius: 8px;
box-shadow: 5px 5px 10px grey;
}
.div1{
	position: absolute;
	width: 85%;
	height: 15%;
	top: 15px;
	right: 0;
	font-size: 25px;
	color: tomato;
	border-bottom: 1px solid black;

}
.div2{
	position: absolute;
	width: 90%;
	height: 10%;
	font-size: 22px;
	color: deepskyblue;
	top: 35%;
	text-align: right;
	font-weight: bold;
	text-decoration: line-through;
}
.div3{
	width: 90%;
	height: 10%;
	position: absolute;
	top: 52%;
	text-align:left;
	font-size:22px;  
}
#check{
	width: 20px;
	height: 20px;
	margin-left: 10px;
}
.card2{
	margin-top: 10px;
width: 15%;
border:1.5px solid orange;
height: 45vh;
position: relative;
border-radius: 8px;
box-shadow: 5px 5px 10px grey;
}
.card3{
	margin-top: 10px;
width: 15%;
border:1.5px solid orange;
height: 45vh;
position: relative;
border-radius: 8px;
box-shadow: 5px 5px 10px grey; 
}

.lower{
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	flex: wrap;
	flex-direction: column;
}
#circle{
	position: absolute;
	width: 10%;
	height: 100%;
}
.notshow{
	filter: blur(6px);
	-webkit-filter:blur(6px);
}
.pop-up{
	position: absolute;
	width: 25%;
	height: 25vh;
	border:1.5px solid tomato;
	border-radius: 10px;
	left: 37%;
	top: 30%;
	color: tomato;
	font-size: 18px;
	box-shadow: 3px 3px 10px grey;
	background-color: white;
	padding: 20px;
}
#addnew{
	opacity: 0.7;
	font-size: 17px;
}
.pop-upbar{
	margin-top: 10px;
	border-radius: 4px;
	width: 85%;
	height: 27%;
	border:1.5px solid darkorange;
	box-shadow: 1px 1px 3px grey;
}
.pop-upbutton{
	width: 27%;
	height: 20%;
	margin-top: 18px;
	color: white;
	background-color: tomato;
	border-radius: 20px;
	border:none;
	position: absolute;
	left: 140px;
	font-size: 20px;
}
@media only screen and (max-width: 600px) {
	.upper-container{
		width: 80%;
	}
	.upper-container1{
		width: 80%;
	}
	#addlist{
	
		display: none;
	}
	#circle{
		right: 40px;
	}
	.div2{
		display: none;
	}
	.div3{
		display: none;
	}
	.div1{
		border: none;
		color:grey;
	}
	.card1{
		width:90%;
		height:25vw;
		margin-top: 30px;
		border: none;
	}

	.card2{
		width: 90%;
		height:25vw;
		margin-top: 30px;
		border: none;

	}
	.card3{
		width: 90%;
		height: 25vw;
		margin-top: 30px;
		border: none;
	}
		.pop-up{
				height: 48vw;
				width: 80%;
				left: 40px;
			}
		
		.pop-upbutton{
			left: 107px;
		}
	}





